<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Restourant Catalogue">
    
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" as="style" onload="this.rel='stylesheet'" crossorigin="anonymous">
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" media="all">
    </noscript>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    
    <title>ResTour Apps</title>
  </head>
  <body>
    <a class="skip_link" href="#">Skip To Content</a>
    <header class="header">
      <div class="brand" aria-label="ResTour Apps Brand">ResTour Apps</div>
      <button aria-label="Toggle Menu" id="hamburger">☰</button>
      <nav class="drawer">
        <ul class="nav_list">
          <li class="nav_item"><a href="#/home" class="nav_link">Home</a></li>
          <li class="nav_item"><a href="#/favorite" class="nav_link">Favorite</a></li>
          <li class="nav_item">
            <a 
              href="https://www.linkedin.com/in/nanda-novitasari-6a352b236" 
              target="_blank" 
              rel="noreferrer"
              class="nav_link">
              About Us
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="mainElement">
      <div class="skeleton"></div>
    </main>
    <footer>
      <p class="footer_content">Copyright &copy; 2024 - <span>ResTour Apps</span></p>
    </footer>
  </body>
  </html>
