$primary-color: #F4F4F4;
$color-orange: #F0A500;
$color-darkOrange: #CF7500;
$color-black: #1A1C20;
$color-white: #F4F4F4;
$color-gray: #f0f0f0;
$color-black-opacity9: rgba(0, 0, 0, 0.9);
$color-black-opacity8: rgba(0, 0, 0, 0.8);
$font-quicksand: 'Quicksand', serif;
$font-segoe: 'Segoe UI', serif;